<h5 class="teal-text section-title">Bem vindo! Faça seu cadastro</h5>
<div class="section"></div>

<div class="container" style="width: 85%;">
  <%= form_for(resource, as: resource_name, url: store_registration_path, method: :post, class: 'col s12') do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class='row'>
      <div class='input-field col s12 m6'>
        <%= f.label :name, 'Nome' %>
        <%= f.text_field :name, autofocus: true, required: true %>
      </div>
      <div class='input-field col s12 m6'>
        <%= f.label :site, 'Site' %>
        <%= f.text_field :site %>
      </div>
    </div>

    <div class='row'>
      <div class="file-field input-field col s12">
        <div class="btn">
          <span>Logo</span>
          <%= f.file_field :image %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='input-field col s12'>
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, required: true %>
      </div>
    </div>

    <div class='row'>
      <div class='input-field col s12 m6'>
        <% password_label = "<em>(no mínimo #{@minimum_password_length} caracteres)</em>" %>
        <%= f.label :password, "Senha #{password_label if @minimum_password_length}".html_safe %>
        <%= f.password_field :password, class: "validate", required: true %>
      </div>
      <div class='input-field col s12 m6'>
        <%= f.label :password_confirmation, 'Confirme sua senha' %>
        <%= f.password_field :password_confirmation, required: true %>
      </div>
    </div>

    <div class='row'>
      <div class="col s12">
        <%= f.submit "Continuar", class: 'btn waves-effect teal' %>
      </div>
    </div>
  <% end %>
</div>
<div class="custom-links text-grey text-darken-4">
  <%= link_to "Já possui um cadastro? Faça login", new_session_path(resource_name) %>
  <%= link_to "Voltar para Início", root_path %>
</div>
