
<hr>
<br>
<br>

<div class="card" style="width: 400px; margin: auto">
  <%= form_with(url: home_index_path, method: :get, local: true) do |form| %>
    <div class="row">
      <div class="col">
        <%= form.text_field :query %>
      </div>
      <div class="col">
        <%= form.submit 'Pesquisar' %>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <% @products.each do |product| %>
    <div class="col s6 m4">
      <div class="card">
        <div class="card-image">
          <img src="<%= product.image %>">
        </div>
        <div class="card-content">
          <p><%= product.name %></p>
          <p><%= product.price %></p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  <% end %>
</div>